.succes-icon-none {
  display: none;
}
ion-icon {
  font-size: 1.8em;
}
.succes-icon {
  position: absolute;
  right: 0%;
  color: rgb(26, 161, 26);
}

.err-icon {
  position: absolute;
  right: 0;
  color: hsl(0, 93%, 68%);
}
.err-icon-none {
  display: none;
}
