@import "../../styles/variables";

.searchResult {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  padding: 15px;
  width: 100%;

  &:hover {
    cursor: pointer;
    background-color: $background-grey;
  }
}
.link_result {
  // width: 100%;
  text-decoration: none;
  color: $font-color-primary;
  font-family: $font;
  margin-left: 10%;

  &:visited {
    text-decoration: none;
  }
}
