@import "../../styles/variables";

.storyBorder {
  // width: 35px;
  // height: 35px;
  position: relative;
  display: flex;
  align-items: center;
}

.storyBorder::after {
  border-radius: 50%;
  content: "";
  width: 107%;
  height: 108%;
  position: absolute;
  z-index: -1;
  left: -4%;
  top: -4%;
  background: linear-gradient(
    200deg,
    $gradient-one 25%,
    $gradient-two 50%,
    $gradient-three 75%,
    $gradient-four 100%
  );
  // background: $font-color-secondary;
  border-radius: 50%;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.avatar {
  border-radius: 50%;
  border: 2px solid $background-white;
  width: 32px;
  height: 32px;
  // object-fit: contain;
  // display: block;

  &:hover {
    cursor: pointer;
  }
  &.xsm {
    width: 32px;
    height: 32px;
  }
  &.sm {
    width: 35px;
    height: 35px;
  }
  &.md {
    width: 50px;
    height: 50px;
  }
  &.lg {
    width: 100px;
    height: 100px;
  }
  &.xlg {
    width: 140px;
    height: 140px;
  }
}
@media only screen and (max-width: 700px) {
  &.xlg {
    width: 100px !important;
    height: 100px !important;
  }
}
