@import "../../styles/variables";

.storyBorder {
  padding: 2px;
  background: linear-gradient(
    200deg,
    $gradient-one 25%,
    $gradient-two 50%,
    $gradient-three 75%,
    $gradient-four 100%
  );
  // background: $font-color-secondary;
  border-radius: 50%;
}
.avatar_wrapp {
  width: 35px;
  height: 35px;
}
.avatar {
  border-radius: 50%;
  border: 2px solid $background-white;
  display: block;

  &:hover {
    cursor: pointer;
  }
  &.xsm {
    width: 32px;
    height: 32px;
  }
  &.sm {
    width: 35px;
    height: 35px;
  }
  &.md {
    width: 50px;
    height: 50px;
  }
  &.lg {
    width: 100px;
    height: 100px;
  }
  &.xlg {
    width: 140px;
    height: 140px;
  }
}
@media only screen and (max-width: 700px) {
  &.xlg {
    width: 100px !important;
    height: 100px !important;
  }
}
