@import "../../styles/variables";

@media only screen and (min-width: 240px) {
  .card {
    background-color: $background-white;
    width: 100%;
    // height: 600px;
    // overflow: hidden;

    margin-top: 5em;
    .card_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.75em;

      .card_header__user {
        display: flex;
        align-items: center;
        width: 15%;
        justify-content: space-between;
      }
      .link {
        text-decoration: none;
        color: $font-color-primary;
        font-family: $font;
        font-weight: 700;
        &.link:visited {
          text-decoration: none;
        }

        .card_header__username {
          margin-left: 5px;
        }
      }
    }

    .post_content {
      display: flex;
      align-items: center;
      width: 100%;
      // height: 70px;
      padding-left: 1em;
      // margin-bottom: 20px;
      & > p {
        margin-left: 10px;
        color: $font-color-primary;
      }
    }

    .add_comment__form {
      align-self: flex-end;
      bottom: 50%;

      height: 50px;

      border-top: 1px solid $border-color-grey;
      display: flex;
      align-items: center;

      .add_comment__input {
        flex: 2;
        border: 1px solid $border-color-grey;
        border: none;
        border-radius: 3px;
        background-color: $background-white;

        // width: 80%;
        height: 100%;
        outline: none;
        margin-left: 10px;
        // padding-left: 20%;
      }
      .add_comment__btn {
        background-color: $background-white;
        color: $link-color;
        font-family: inherit;

        border: none;
        border-radius: 5px;
        font-weight: 900;
        cursor: pointer;
        margin-right: 10px;
      }
      .add_comment__btn[disabled] {
        color: $link-color;
        opacity: 0.5;
        pointer-events: none;
      }
      .emoji_trigger {
        all: unset;
        background-color: white;
        margin-left: 10px;
        cursor: pointer;
      }
      .emoji_content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .card_menu {
    padding-left: 0.5em;
  }

  .likes_count {
    padding-left: 1em;

    .likedBy {
      display: flex;
      font-size: 0.9em;
      // padding-left: 1em;
      & > span {
        margin-left: 5px;
      }
    }
  }

  .view_comments_link {
    font-size: 0.92em;
    padding-left: 1em;
    text-decoration: none;
    color: $font-color-secondary;
  }
  .comments_viewPort {
    display: flex;
    flex-direction: column;
    width: 50%;
    // height: 100px;
    // overflow: scroll;

    font-size: 0.9em;
    .comment {
      display: flex;
      // flex-direction: column;
      align-items: flex-start;
      height: 30px;
      padding-left: 1em;

      a {
        display: flex;
        align-items: center;

        height: 20px;
        text-decoration: none;
        color: $font-color-primary;
        strong {
          margin: 0 5px 0 5px;
        }
      }
      strong {
        margin: 0 5px 0 5px;
      }
    }
  }
  .timePosted {
    font-size: 10px;

    padding: 1em 0 1em 1em;
    color: $font-color-secondary;
  }
}

// @media only screen and (min-width: 740px) {
//   .card {
//     width: 614px;
//     height: 878px;
//     border: 1px solid $border-color-grey;
//     border-radius: 3px;

//   }
// }
