@import "../../../styles/variables";

.profileHeader {
  display: flex;
  position: relative;
  // flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 250px;
  border-bottom: 1px solid $border-color-grey;
}
.profile_avatar {
  position: absolute;
  left: 30%;
  top: 5%;
}
.profile_detale {
  position: absolute;
  left: 40%;
  top: 8%;
}
