@import "../../../styles/variables";

@media only screen and (min-width: 240px) {
  .profileHeader {
    display: flex;
    // background-color: yellow;
    border-bottom: 1px solid $border-color-grey-secondary;
    height: 100%;
    width: 100%;
  }
  .profile_avatar {
    flex: 1;

    // display: flex;
    // flex-direction: column;
    text-align: center;

    .avatar_username {
      // margin-right: 20px;
      color: $font-color-primary;
    }
    .avatar_fullname {
      // margin-top: 65px;
      // margin-left: 20px;
      font-size: 1em;
      color: $font-color-primary;
    }
  }
  .header_detale {
    flex: 2;
    // display: flex;
    // flex-direction: column;
    // align-content: center;
    // align-items: stretch;
    // justify-content: center;

    padding-top: 60px;
    .header_info {
      display: flex;
      // padding-bottom: 30px;
      p {
        text-align: center;
        font-size: 0.9em;
        flex: 1;
        color: $font-color-primary;
      }

      // justify-content: space-around;
      // align-content: center;
      // margin-left: 3px;
      // .info_postnumber {
      //   display: flex;
      //   flex-direction: column;
      //   align-items: center;
      // }
      // .info_follwoers {
      //   display: flex;
      //   flex-direction: column;
      //   align-items: center;
      // }
      // .info_following {
      //   display: flex;
      //   flex-direction: column;
      //   align-items: center;
      // }
    }
    .avatar_icon {
      margin-left: 100px;
    }

    .follow {
      button {
        background-color: $background-grey;
        border: 1px solid $border-color-grey;
        color: $font-color-primary;
        font-weight: 600;
        padding: 5px 9px;
        border-radius: 4px;
        cursor: pointer;
      }
      .btn_follow__following {
        // padding: 3px;
        margin-left: 5px;
      }
    }

    // .follow_btn {
    //   justify-content: center;
    // }

    // .detale_username,
    // .detale_fullname {
    //   // margin-left: 40px;
    // }
    .detale_username,
    .detale_fullname {
      display: none;
    }
  }

  // .follow_btn {
  //   display: flex;
  // }
  // .btn_follow {
  //   &__massage {
  //     padding: 3px;
  //     border-radius: 3px;
  //     background-color: $background-grey;
  //     border: 1px solid $border-color-grey;
  //   }
  //   &__following {
  //     margin-left: 2px;
  //     border-radius: 3px;
  //     background-color: $background-grey;
  //     border: 1px solid $border-color-grey;
  //   }
  //   &__follow {
  //     padding: 3px;
  //     border-radius: 3px;
  //     background-color: $background-grey;
  //     border: 1px solid $border-color-grey;
  //   }
  // }
}
@media only screen and (min-width: 700px) {
  .profileHeader {
    position: relative;
    margin-left: 0px !important;
    // width: 90%;

    .follow {
      display: flex;
      justify-content: center;
    }
  }

  .avatar_username,
  .avatar_fullname {
    display: none !important;
  }
  .profile_avatar {
    flex: 1;
    margin-top: 40px;
    margin-left: 150px;
  }
  .header_detale {
    flex: 2;
    padding: 0px;
    position: relative;
    text-align: center;
    // display: flex;
    .detale_username,
    .detale_fullname {
      display: inline-block !important;
    }
  }
}
// @media only screen and (min-width: 1000px) {
//   .profileHeader {

//   }
//   .profile_avatar {

//   }
//   .header_detale {

//   }
// }
