@import "../../../styles/variables";

@media only screen and (min-width: 240px) {
  .crop_container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 60vh;
  }

  .crop__done_btn {
    all: unset;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(80, 9, 9, 0.9);

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    &:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 1);
    }
    ion-icon {
      color: white;
    }
  }

  .crop_trigger {
    all: unset;
    position: absolute;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(80, 9, 9, 0.9);

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 4;
    &:hover {
      background-color: rgba(0, 0, 0, 1);
    }
  }
  .crop_content {
    // position: absolute;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.55);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: scale-in 0.3s ease-out;
    border-radius: 3px;
    cursor: pointer;
    // left: 50px;
    .dropdown_arraw {
      width: 20px;
      height: 10px;
      fill: rgba(0, 0, 0, 0.55);
    }
  }
  .crop_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      color: white;
      fill: white;
    }
    & :visited {
      color: white;
      text-decoration: none;
    }
  }

  @keyframes scale-in {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

// @media only screen and (max-width: 700px) {
//   .crop_container {
//     margin: 0 auto !important;
//     width: 100% !important;
//     height: 100% !important;
//   }
// }

// @media only screen and (max-width: 400px) {
//   .crop_container {
//     margin: 0 auto !important;
//   }
// }
