@import "../../styles/variables";

.btn-exit {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 1);
  opacity: 50%;
  // position: relative;
  z-index: 4;

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.95);
  }
  ion-icon {
    color: white;
  }
}
