@import "../../../styles/variables";

.trigger {
  all: unset;
}

@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: absolute;
  top: 0.9em;
  right: -10em;

  width: 150px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  background-color: white;
  z-index: 1;
  animation: scale-in 0.5s ease-out;
}
// .dropdown_square {
//   position: absolute;
//   top: 43px;
//   right: 7px;
//   width: 20px;
//   height: 20px;
//   transform: rotate(45deg);
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px -2px 0 rgba(0, 0, 0, 0.19);
//   border-radius: 3px;
//   background-color: black;
//   z-index: 2;
// }
.dropdown_border {
  padding: 5px;
  // margin: 10px;
}
.item {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid $border-color-grey;
  color: $font-color-primary;
  &:hover {
    background-color: $background-grey;
  }
  & :visited {
    text-decoration: none;
  }
}
.dropdown_link {
  display: flex;

  text-decoration: none;

  & :visited {
    text-decoration: none;
  }
  & > span {
    margin-left: 5px;
  }
}
.logout {
  &:hover {
    cursor: pointer;
  }
  .logout_icon {
    width: 10%;
  }
  & > span {
    margin-left: 4px;
  }
}
