@import "../styles/variables";

.navigation {
  display: flex;
  background: $background-white;
  justify-content: space-around;
  flex-wrap: nowrap;

  .nav_container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 60px;
    padding: 10px;

    border-bottom: 1px solid $border-color-grey-secondary;
  }

  .search-wrap {
    position: relative;
    display: inline-block;

    .search {
      border: 1px solid $border-color-grey;
      border-radius: 3px;
      background-color: $background-grey;

      width: 225px;
      height: 26px;
      outline: none;
      padding-left: 20%;
    }
    .search-lable {
      position: absolute;

      top: 10%;
      left: -10%;
      font-size: 80%;
      pointer-events: none;
      top: 15%;
      left: 45%;

      .search-text {
        color: $font-color-secondary;
        font-family: $font;
        font-size: 1.2em;
        font-weight: 300;
      }

      .search-icon {
        position: absolute;
        top: 15%;
        left: -55%;

        ion-icon {
          font-size: 100%;
        }
      }
    }
    @keyframes scale-in {
      0% {
        opacity: 0;
        transform: scale(0);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
    // .search_result__square {
    //   position: absolute;
    //   top: 80%;
    //   right: 50%;
    //   width: 20px;
    //   height: 20px;
    //   transform: rotate(45deg);
    //   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    //     0 6px -2px 0 rgba(0, 0, 0, 0.19);
    //   border-radius: 3px;
    //   background-color: white;
    //   z-index: 2;
    //   animation: scale-in 0.7s linear;
    // }
    .search_result__viewport {
      display: flex;
      position: absolute;
      top: 13px;
      right: -34%;
      width: 170%;
      height: 400px;
      overflow: hidden;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 3px;
      background-color: white;
      z-index: 1;
      animation: scale-in 0.3s ease-out;
    }
    .serach_result__border {
      margin: 10px;
    }
  }
  // .scrolbar_tumb {
  //   flex: 1;
  //   border-radius: 5px;
  //   background: black;
  //   position: relative;

  //   &::before {
  //     content: "";
  //     position: absolute;
  //     // top: 50%;
  //     // left: 50%;
  //     // transform: translate(-50%, -50%);
  //     width: 100%;
  //     height: 100%;
  //     min-width: 44px;
  //     min-height: 44px;
  //     z-index: 3;
  //   }
  // }

  .search:focus + .search-lable {
    transform: translate(-120%, 0%);
    .search-icon {
      display: none;
    }
  }
  .search:focus {
    .search_result__square {
      display: block !important;
    }
  }
  .search:valid + .search-lable {
    display: none;
  }
  .insta-logo {
    &:hover {
      cursor: pointer;
    }
  }
}

.insta-logo-small {
  display: none;
}
.nav-menu {
  display: flex;
  justify-content: flex-start;
}
@media only screen and (max-width: 720px) {
  .nav_container {
    width: 100% !important;
    align-content: space-around !important;

    .insta-logo {
      display: none;
    }

    .insta-logo-small {
      display: block;
      width: 35px;
      margin-right: 5%;
    }
  }
}
@media only screen and (max-width: 530px) {
  .search,
  .search-icon,
  .search-lable,
  .search_result__viewport,
  .search_result {
    overflow: hidden;
    display: none !important;
  }
  .navigation {
    width: 100% !important;
  }
}
