@import "../../styles/variables";

.create_post__wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Hide scrollbars */

  .btn-exit {
    position: absolute;
    left: 98%;
    top: 1%;
    &:hover {
      cursor: pointer;
    }
  }
  .border {
    width: 100%;
    height: 2px;
    background-color: $background-grey;
  }

  .creat_post__form {
    display: flex;

    flex-direction: column;
    align-items: center;

    background-color: $background-white;
    border-radius: 10px;

    width: 600px;
    height: 600px;
  }
  .create_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;

    .create_form__btn {
      color: $background-white;
      background-color: $link-color;
      font-family: inherit;
      width: 75%;
      height: 30px;
      border: none;
      border-radius: 5px;
      font-weight: 900;
      cursor: pointer;
    }
  }
  .carousel {
    width: 100%;
    height: 600px;
  }

  // .cropper {
  //   width: 100%;
  //   height: 100%;
  // }
}

@media only screen and (max-width: 600px) {
  .create_form {
    .create_form__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      // margin-top: 15px;
    }
  }
}
