@import "../../styles/variables";

.create_post__wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Hide scrollbars */

  .btn-exit {
    position: absolute;
    left: 98%;
    top: 1%;
    &:hover {
      cursor: pointer;
    }
  }
  .border {
    width: 100%;
    height: 2px;
    background-color: $background-grey;
  }
  .drag-drop-wrap {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 600px;
    height: 600px;
  }

  .creat_post__form {
    display: flex;

    flex-direction: column;
    align-items: center;

    background-color: $background-white;
    border-radius: 10px;

    width: 100%;
    height: 100%;
  }

  .dropzone {
    width: 75%;
    height: 23em;
    border: 3px dashed $border-color-grey;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn-create {
    color: $background-white;
    background-color: $link-color;
    font-family: inherit;
    width: 75%;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer;
  }
}
@media only screen and (max-width: 600px) {
  // .btn-exit {
  //   position: absolute;
  //   top: 15%;
  //   left: 85%;
  // }
  .drag-drop-wrap {
    width: 100% !important;
    height: 100% !important;
  }
  // .container {
  //   width: 90%;
  //   height: 60%;

  // }
  .btn-create {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 15px;
  }
  // .dropzone {
  //   height: 100% !important;
  // }
}
